body, html {
    height: 100%;
    margin: 0;

}

.bg{
    background-image: url("img/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;


}
button{position: absolute;
    padding: 20px 25px;
    background-color: white;
    font-size: 14px;
    text-align: center;
    border: 1px solid #2E1263;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    outline: none;
    margin: auto;


}
.cloud{position: absolute;

}
button:hover {
    transition: 0.3s ;
    background-color:black  ;
    color:lightgreen;
    border-radius: 10%;

}
@-webkit-keyframes animateCloud {
    0%{margin-left: -1000px;}
    100%{margin-left: 100%;}
}
.x1{
    top: 10px;
    animation: animateCloud 40s linear infinite;
    transform: scale(0.65);
}
.x2{top: 100px;
    animation: animateCloud 50s linear infinite;
    transform: scale(0.3);
}
.x3{top: 25px;
    animation: animateCloud 30s linear infinite;
    transform: scale(0.5);
}
